In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
from bs4 import BeautifulSoup
import requests
import regex as re
from multiprocessing.pool import ThreadPool
from datetime import datetime, timedelta
import random

In [2]:
class DCF:
    def __init__(self, ticker, operatingMargin, RevenueGrowthRate, TaxRate, Costofcapital) -> None:
        self.dfYahoo = yf.Ticker(ticker).history(period="5y", interval="1mo")

In [3]:
from scraper import StockInfo

tick = StockInfo("ORCL")

cash = tick.get_BalanceSheet()

cash

,Breakdown,5/31/2023,5/31/2022,5/31/2021,5/31/2020
0,Total Assets,"134,384,000","109,297,000","131,107,000","115,438,000"
1,Total Liabilities Net Minority Interest,"132,828,000","115,065,000","125,155,000","102,721,000"
2,Total Equity Gross Minority Interest,"1,556,000","-5,768,000","5,952,000","12,717,000"
3,Total Capitalization,"87,976,000","66,342,000","81,947,000","81,943,000"
4,Common Stock Equity,"1,556,000","-5,768,000","5,952,000","12,717,000"
5,Net Tangible Assets,"-70,542,000","-51,019,000","-40,413,000","-34,790,000"
6,Working Capital,"-2,086,000","12,122,000","31,403,000","34,940,000"
7,Invested Capital,"90,481,000","75,859,000","84,245,000","71,597,000"
8,Tangible Book Value,"-70,542,000","-51,019,000","-40,413,000","-34,790,000"
9,Total Debt,"90,481,000","75,859,000","84,245,000","71,597,000"
10,Net Debt,"80,716,000","54,476,000","54,147,000","34,358,000"
11,Share Issued,"2,713,000","2,665,000","2,814,000","3,067,000"
12,Ordinary Shares Number,"2,713,000","2,665,000","2,814,000","3,067,000"

In [4]:
tick.get_FreeCashFlow()

,Breakdown,ttm,5/31/2023,5/31/2022,5/31/2021,5/31/2020
0,Operating Cash Flow,"17,745,000","17,165,000","9,539,000","15,887,000","13,139,000"
1,Investing Cash Flow,"-8,610,000","-36,484,000","11,220,000","-13,098,000","9,843,000"
2,Financing Cash Flow,"-7,928,000","7,910,000","-29,126,000","-10,378,000","-6,132,000"
3,End Cash Position,"11,655,000","9,765,000","21,383,000","30,098,000","37,239,000"
4,Income Tax Paid Supplemental Data,"3,009,000","2,567,000","3,189,000","3,218,000",NaN
5,Interest Paid Supplemental Data,"3,250,000","2,735,000","2,408,000","1,972,000",NaN
6,Capital Expenditure,"-8,290,000","-8,695,000","-4,511,000","-2,135,000","-1,564,000"
7,Issuance of Capital Stock,"985,000","1,192,000","482,000","1,786,000","1,588,000"
8,Issuance of Debt,"13,948,000","33,994,000",0,"14,934,000","19,888,000"
9,Repayment of Debt,"-16,729,000","-21,050,000","-8,250,000","-2,631,000","-4,500,000"
10,Repurchase of Capital Stock,"-2,332,000","-2,503,000","-17,341,000","-21,600,000","-19,905,000"
11,Free Cash Flow,"9,455,000","8,470,000","5,028,000","13,752,000","11,575,000"

In [6]:
tick.get_IncomeStatement()

,Breakdown,ttm,5/31/2023,5/31/2022,5/31/2021,5/31/2020
0,Total Revenue,"50,962,000","49,954,000","42,440,000","40,479,000","39,068,000"
1,Cost of Revenue,"14,137,000","13,564,000","8,877,000","7,855,000","7,938,000"
2,Gross Profit,"36,825,000","36,390,000","33,563,000","32,624,000","31,130,000"
3,Operating Expense,"22,503,000","22,617,000","17,733,000","16,842,000","16,928,000"
4,Operating Income,"14,322,000","13,773,000","15,830,000","15,782,000","14,202,000"
5,Net Non Operating Interest Income Expense,"-3,207,000","-3,505,000","-2,755,000","-2,496,000","-1,995,000"
6,Other Income Expense,"-1,270,000","-1,142,000","-5,426,000","-287,000","-144,000"
7,Pretax Income,"9,845,000","9,126,000","7,649,000","12,999,000","12,063,000"
8,Tax Provision,"470,000","623,000","932,000","-747,000","1,928,000"
9,Net Income Common Stockholders,"9,375,000","8,503,000","6,717,000","13,746,000","10,135,000"
10,Diluted NI Available to Com Stockholders,"9,375,000","8,503,000","6,717,000","13,746,000","10,135,000"
11,Basic EPS,NaN,NaN,NaN,NaN,NaN
12,Diluted EPS,NaN,NaN,NaN,NaN,NaN
13,Basic Average Shares,"2,706,750","2,696,000","2,700,000","2,945,000","3,211,000"
14,Diluted Average Shares,"2,785,000","2,766,000","2,786,000","3,022,000","3,294,000"
15,Total Operating Income as Reported,"13,766,000","13,093,000","10,926,000","15,213,000","13,896,000"
16,Total Expenses,"36,640,000","36,181,000","26,610,000","24,697,000","24,866,000"
17,Net Income from Continuing & Discontinued Oper...,"9,375,000","8,503,000","6,717,000","13,746,000","10,135,000"
18,Normalized Income,"10,493,906","9,136,760","11,022,712","14,161,370","10,392,040"
19,Interest Income,"383,000","285,000","94,000","101,000","527,000"
20,Interest Expense,"3,590,000","3,505,000","2,755,000","2,496,000","1,995,000"
21,Net Interest Income,"-3,207,000","-3,505,000","-2,755,000","-2,496,000","-1,995,000"
22,EBIT,"13,435,000","12,631,000","10,404,000","15,495,000","14,058,000"
23,EBITDA,"19,552,000","18,739,000","13,526,000","18,411,000","17,026,000"
24,Reconciled Cost of Revenue,"11,446,000","11,038,000","6,905,000","6,318,000","6,556,000"
25,Reconciled Depreciation,"6,117,000","6,108,000","3,122,000","2,916,000","2,968,000"
26,Net Income from Continuing Operation Net Minor...,"9,375,000","8,503,000","6,717,000","13,746,000","10,135,000"
27,Total Unusual Items Excluding Goodwill,"-1,175,000","-680,000","-4,904,000","-569,000","-306,000"
28,Total Unusual Items,"-1,175,000","-680,000","-4,904,000","-569,000","-306,000"
29,Normalized EBITDA,"20,727,000","19,419,000","18,430,000","18,980,000","17,332,000"
30,Tax Rate for Calcs,0,0,0,0,0
31,Tax Effect of Unusual Items,"-56,094","-46,240","-598,288","-153,630","-48,960"